<h1>Patients in <%= @patient.name %></h1>
<table>
  <tr>
<th>Patient details</th>
</tr>
<% for patient in @reviews %>
<tr>
<td><%= review.details %></td>
<td><%= link_to 'Show', m_review_path(@patient, review)
%></td>
<td><%= link_to 'Edit', edit_patient_review_path(@patient, review)
%></td>
<td><%= link_to 'Destroy', patient_review_path(@patient, review),
:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New review', new_patient_review_path(@patient) %>
<%= link_to 'Back to patients', @patient %>
